* {
 font-family: "Times New Roman", Times, serif;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 /* overflow: hidden; */
}

.icon-nav {
 color: gainsboro;
 position: relative;
}

.icon-nav:hover {
 color: gold;
}

.notifikasi {
 position: relative;
}

.circle {
 position: absolute;
 inline-size: 15px;
 block-size: 15px;
 inset-block-start: -9px;
 inset-inline-end: -5px;
 border-radius: 50%;
 background-color: whitesmoke;
 color: rgba(255, 0, 0, 0.966);
 text-align: center;
 font-size: 10px;
}

section {
 min-block-size: 67vh;
}

/* style footer */
footer {
 background-color: #addacc;
 color: black;
}

.d-flex {
 position: static;
 inset-block-end: 0;
}

/* Design class sidebar admin */
.sidebar {
 position: fixed;
 inline-size: 250px;
 background-color: rgb(204, 187, 161);
 block-size: 100vh;
}

.sidebar a {
 text-decoration: none;
 font-size: large;
}

.sidebar a {
 text-decoration: none;
 color: #addacc;
}

.sidebar li {
 list-style: none;
}
.sidebar li:hover {
 list-style: none;
 background-color: rgb(238, 125, 60);
 border-radius: 10px;
 margin: 0;
}

.sidebar h6 {
 font-size: 24px;
 font-weight: 900;
 text-align: center;
}
